<div class="follower-list-wrapper" >
  <% @user.followers.each do |user| %>
    <div class="follower_list">
      <%= user.name %>
      <%= link_to "GO TO TALKROOM!", room_path(id: user.id) %>
    </div>  
  <% end %>
</div>
